body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  display: flex;
  justify-content: center;
}
header {
  display: flex;
  position: fixed;
  height:69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  color: seashell;
}
.logo{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  height: 50px;
  margin-left: 10px;
}
.navigation nav {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-right: 15px;
}
a {
  color: seashell;
  display: inline-block;
  align-items: center;
  text-decoration: underline;
}
.main {
  display: flex;
  padding-top: 69px;
  width: auto;
  height:700px;
  width: 1200px;
  justify-content: center;
}
#mission.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}
.flex-container h2, h4 {
  display: flex;
  background-color: black;
  width: 1200px;
  justify-content: center;
  margin: 0;
}
h2 {
  height: 60px
}
